<div class='sign_in'>
  <div class='panel-body'>
    <div class='form-group'>
      <div class='username'>
        <label>Tên đăng nhập</label>
        <input class="form-control input-sm" autofocus required>
      </div>
      <div class='username'>
        <label>Email</label>
        <input class="form-control input-sm" autofocus required>
      </div>
    </div>
  <div>
</div>